.Grid-desc--wiki {
    border-left: 2px solid palette(wiki);
    color: palette(wiki);
}

.Grid-desc--help {
    border-left: 2px solid palette(help);
    color: palette(help);
}

.Grid-desc--opinion {
    border-left: 2px solid palette(opinion);
    color: palette(opinion);
}

.Grid-desc--preview {
    border-left: 2px solid palette(preview);
    color: palette(preview);
}

.Grid-desc--conversation {
    border-left: 2px solid palette(conversation);
    color: palette(conversation);
}

.Grid-desc--news {
    border-left: 2px solid palette(news);
    color: palette(news);
}

.Grid-desc--feature {
    border-left: 2px solid palette(feature);
    color: palette(feature);
}

.Grid-desc--gallery {
    border-left: 2px solid palette(gallery);
    color: palette(gallery);
}

.Grid-desc--review {
    border-left: 2px solid palette(review);
    color: palette(review);
}

.Grid-desc--trailer {
    border-left: 2px solid palette(help);
    color: palette(help);
}
