$palettes: (
   news: (
      base:   rgb(237, 106, 30)
   ),
   wiki: (
      base:   rgb(204, 3, 3)
   ),
   help: (
      base:   rgb(103, 147, 245)
   ),
   opinion: (
      base:   rgb(84, 196, 179)
   ),
   conversation: (
      base:   rgb(223, 206, 174)
   ),
   preview: (
      base:   rgb(163, 190, 198)
   ),
   feature: (
      base:   rgb(27, 158, 110)
   ),
   gallery: (
      base:  rgb(227, 172, 214)
   ),
   review: (
      base:   rgb(227, 206, 97)
   ),
   trailer: (
      base:   rgb(229, 113, 181)
   )
);



@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}
