.pre-order {
    width: 400px;
    position: absolute;
    top: 25px;
    left: 40%;
    z-index: 99;

    @media screen and (max-width: 768px) {
        display: none;
    }

    a, img {
        display: block;
    }
}
